{% extends "base.html" %} 
{% import 'bootstrap/wtf.html' as wtf %} 
 
{% block app_content %} 


    <h2>User: {{ current_user.username }}</h1>
    <h2>userid: {{ userid }}</h1>

    <h3>You have selected to track {{selectedStock}} which is currently trading at ${{ lastPrice }}.</h3>
    <h2>Enter the price when you want to be notified (float numbers only, no $):</h2>
    
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(formUserPrice) }}
        </div>
    </div>
    <br>

{% endblock %}


{% block scripts %} 
    
{% endblock %} 



