{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h4>
    <u><br><br><b><h3>About</h3></b></u>
    This web app has been created to demonstrate understanding of back-end web development and structure, web architecture, HTTP requests and responses, RESTful API, SQL relational databases, and more. <br>
    <br>Tools and tech stack used include:
    <li>Python 3.8 with Flask web framework</li>
    <li>Docker containerization </li>
    <li>Amazon AWS services (EC2, ECR, ECS, RDS using PostgreSQL) </li>
    <li>CI/CD pipeline via GitHub Actions  </li>
    <br>Credits to the <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">Flask Mega-Tutorial by Miguel Grinberg</a>. 
    Some components of this apps modules (such as login authentication and structuring the API framework) have been re-used from the tutorial with modifications as needed.
    <u><br><b><h3>Site GitHub:</h3></b></u>
    <a href="https://github.com/stockpricealert/site/" target="_blank"> https://github.com/stockpricealert/site/ </a>
    
    </h4>   
    
    

{% endblock %}
