{% extends "base.html" %} 
{% import 'bootstrap/wtf.html' as wtf %} 
 
{% block app_content %} 

    <!-- Type input search with pre-populated data in dropdown: -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    

    <h3>Current alerts set for user: {{ current_user.username }}:</h3>    
    {% if strAlertsList %}
        <pre>{{ strAlertsList }}</pre>
    {% endif %}
    
    <br><br>
    <h3>{{ 'Add a new alert: ' }}</h3> 
    {% if userAlertCounts < config['ALERTS_PER_USER'] %}
        <form action='{{ url_for('main.manage_alerts', userid = current_user.get_id()) }}' , method='POST'>
            <select name="userAddStock" class="selectpicker" title="Choose one of the following..." style="overflow:hidden;" data-width='500px' data-size="10" data-style="btn-info" data-show-subtext="true" data-live-search="true">
                {% if allStocks %}
                    {% for x in allStocks %}
                        <option data-tokens={{x}}>{{x}}</option>
                    {% endfor %}
                {% endif %}
                
            </select>
            <div class="submit">
                {{ formSelectStock.submit(class="btn btn-info") }}
            </div>
        </form>
    {% else %}
        <h5>{{ 'The max number of set alerts has been reached.' }}</h5>
        <h5>{{ 'Please delete an existing alert to set a new alert.' }}</h5>
    {% endif %}
    
    <br><br>
    {% if userStocks %}
        <h3>{{ 'Delete an existing alert: ' }}</h3>
        <form action='{{ url_for('main.manage_alerts', userid = current_user.get_id()) }}' , method='POST'>
            <select name="deleteUserAlert" class="selectpicker" title="Choose one of the following..."  data-width='500px' data-size="10" data-style="btn-info" data-show-subtext="false" data-live-search="false">
                    {% if userStocks %}
                        {% for x in userStocks %}
                            <option data-tokens={{x['alertTrackerID']}}>{{x['symbol']}} alert set for ${{x.alertPrice}} (RefID:{{x['alertTrackerID']}})</option>
                        {% endfor %}
                    {% endif %}
            </select>
                <div class="submit">
                    {{ formDeleteStock.submit(class="btn btn-info") }}
                </div>
        </form>
    {% endif %}
    
{% endblock %}
{% block scripts %} 
    
    <!-- Type input search with pre-populated data in dropdown: -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
{% endblock %} 


<!-- 
Code sourcing:

Type input search with pre-populated data in dropdown: https://stackoverflow.com/questions/36005249/adding-search-functionality-in-select-options-using-bootstrap

-->

